body {
    font-size: large;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.6em;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444444;
    border-color: #222222;
    border-width: 3px;
    border-style: dotted;
    border-color: white;
    border-radius: 30px;
    background-color: #a7cece;
    padding: 2%;
    padding-left: 82px;
    margin:30px;
    margin-right: 22%;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}